# <%= pkg.meta.name %> [![Chrome Web Store][Shield: CWS: Users]][Link: CWS]

> <%= pkg.description %>

<em><%- pkg.meta.mainFeatures.join(" • ") -%> [and more & more](#features)</em>

## Install

* [Chrome extension from Chrome Web Store&nbsp;![Chrome Web Store][Shield: CWS: Version]][Link: CWS] – manually published stable version
  * [BETA version&nbsp;![Chrome Web Store][Shield: CWS: Version: Beta]][Link: CWS: Beta] – automatically published from `develop` branch
* Firefox add-on – TODO 👷‍
* Safari extension – probably not gonna happen

<details>
<summary><strong>Install manually from source</strong></summary>

* Clone (or otherwise download) this repository
* In Chrome, go to `chrome://extensions`
* Ensure "Developer mode" is ticked
* Click "Load unpacked" and select the `extension` directory within this repository
* Refresh any page on Strava - the extension will now be active
</details>

---

<p align="center">
  <img src="./assets/screenshot-1.png" />
</p>

---

## Features

*All features are customizable in options*

**Check all features with description & images on [strajk.github.io/strava-enhancement-suite](https://strajk.github.io/strava-enhancement-suite)**

<table>
<% for (const [ctxKey, ctx] of Object.entries(contexts)) { %>
<% const ctxOptions = filteredByKey(options, ctx); %>
<tr>
  <td><strong><%= ctx.title %></strong></td>
  <td><% if (ctxKey === 'general') { %><strong>Default</strong><% }%></td>
</tr>
<% Object.entries(ctxOptions).forEach(([key, option]) => { %>
<% if (option.internal) return %>
<tr>
  <td><%- option.title -%></td>
  <td><%- option.default ? "✅" : "➖" -%></td>
</tr>
<% }) %>
<% } %>
</table>

## Contribute

Feel free to! 🙏

## Authors

* [lamby](https://github.com/lamby) – creator
* [Strajk](https://github.com/Strajk/) – current maintainer

## Other browser extensions for Strava

- [Sauce for Strava](https://saucellc.io/) – the masterpiece by [Justin Mayfield](https://github.com/mayfield)
  - Adds powerful analytics features (peak performance for power, hr, pace, …) and extends existing ones
  - Adds performance predictor
  - Adds exporting of any activity to GPX/TCX
  - Modifies UI – dark mode, responsiveness, inline comments, basic dashboard filtering, …
  - … [and more](https://saucellc.io/)
  - 🐙 [Open-source](https://github.com/SauceLLC/sauce4strava)
  - ✅ Works fine with Strava Enhancement Suite, some features overlap:
    - Dashboard filtering (virtual activities, challenges, promotions)
    - Hiding subscription upsells
- [Elevate](https://thomaschampagne.github.io/elevate/) – the legendary extension by [Thomas Champagne](https://twitter.com/champagnethomas), previously called *stravistix*
  - Whole training platform rebuilt on top of Strava
  - Enhances stats on activities & segments
  - Adds exporting of segments to GPS
  - Enhances segments ranking
  - … [and more](https://thomaschampagne.github.io/elevate/)
  - 🐙 [Open-source](https://github.com/thomaschampagne/elevate)
  - ✅ Works fine with Strava Enhancement Suite, some features overlap:
    - Dashboard filtering (virtual activities, challenges, promotions, posts, activities below threshold)
- [Str*Viewer](http://straviewer.com/)
  - Modifies Dashboard UI
  - Not Open-source
  - 🤔 Not sure about compatibility with Strava Enhancement Suite

## Disclaimer

This software is not endorsed by Strava. Please do not ask them for support.
The term STRAVA and the Strava logo are the exclusive trademarks of, and are owned by, Strava Inc.


[Shield: CWS: Users]: https://img.shields.io/chrome-web-store/users/<%= pkg.meta.chromeWebStoreId %>?label=Chrome+Extension
[Shield: CWS: Version]: https://img.shields.io/chrome-web-store/v/<%= pkg.meta.chromeWebStoreId %>?label=
[Shield: CWS: Version: Beta]: https://img.shields.io/chrome-web-store/v/<%= pkg.meta.chromeWebStoreIdBeta %>?label=
[Link: CWS]: https://chrome.google.com/webstore/detail/<%= pkg.meta.chromeWebStoreId %>
[Link: CWS: Beta]: https://chrome.google.com/webstore/detail/<%= pkg.meta.chromeWebStoreIdBeta %>
